/* Add CSS Styling */

.odd-element {
    background-color: #f5426f;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-size-24 {
    font-size: 24px;
}

#second-element {
    color: #428af5;
    font-size: 36px;
}

#fourth-element {
    background-color: #7ef542;
    font-weight: 700;
}